$purple: hsla(266, 100%, 50%, 1);
$purple-grey: hsla(233, 45%, 65%, 1);
$purple-medium-grey: hsla(233, 80%, 65%, 1);
$blue: hsla(233, 89%, 60%, 1);
$light-blue: hsla(220, 100%, 65%, 1);
$grey: hsla(316, 16%, 77%, 1);
$pink: hsla(341, 50%, 62%, 1);
$red: hsla(347, 64%, 49%, 1);
