<div class="inner-page-container">
  <div class="flip-container" id="card">
    <div class="card-container flipper">
      <div class="front">
        front
      </div>
      <div class="back">
        back
      </div>
    </div>
  </div>

  <div class="card-nav">
    <span
      (click)="previousCard()"
      [className]="currentCardIndex >= 1 ? 'previous' : ' previous hidden'"
      >Previous Question</span
    >
    <!-- <span (click)="flipCard()" class="next">Flip Card2</span> -->
    <span (click)="flipCard()" class="next">Flip Card</span>

    <span
      (click)="nextCard()"
      [className]="
        currentCardIndex < cardCount - 1 ? 'next' : ' previous hidden'
      "
      >Next Question</span
    >
  </div>
</div>
