<div class="inner-page-container">
  <div class="flip-container" id="card">
    <div class="card-container flipper" id="flipper">
      <div class="front">
        <h1>
          {{ currentCard ? currentCard.question : "Failed to load Question" }}
        </h1>
      </div>
      <div class="back">
        <h1>
          {{ currentCard ? currentCard.question : "Failed to load Question" }}
        </h1>
        <div>
          <h2>
            {{
              currentCard ? currentCard.answerHeader : "Failed to load Answer"
            }}
          </h2>
          <p>
            {{ currentCard ? currentCard.answer : "" }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-nav">
    <span
      (click)="previousCard()"
      [className]="currentCardIndex >= 1 ? 'previous' : ' previous hidden'"
      >Previous Question</span
    >
    <span
      (click)="flipCard()"
      [className]="currentCard ? 'flip-button' : 'flip-buttonn hidden'"
      >Flip Card</span
    >
    <span
      (click)="nextCard()"
      [className]="currentCardIndex < cardCount - 1 ? 'next' : ' next hidden'"
      >Next Question</span
    >
  </div>
</div>
